
.header{
    display: flex;
    justify-content: space-between;
    min-height: 85px;
}
.contries {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    &__flag{
        display: block;
        width: 28px;
        height: 21px;
        margin-right: 11px;
    }
    &__title{
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: #242424;
    }
    a{  
        display: block;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
        color: #000;
        :hover{
        color: #000;
        }
    }
}
.main{
    min-height: 700px;
    background: url('../img/main.jpg') center center/cover no-repeat;
    padding-top: 39px;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 542px;
    }
    
    &__link{
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
        position: relative;
        &::after{
            display: block;
            content: "";
            background-color:#fff;
            height: 3px;
            width: 0%;
            left: 0;
            bottom: -5px;
            position: absolute;
            -webkit-transition: width .3s linear;
            -moz--transition: width .3s linear;
            transition: width .3s linear;
        }
        &:hover:after{
            width: 100%;
        }
    }
    &__content{
        margin-top: 133px;
        
    }
    &__img{
        position: absolute;
        right: 0;
        top: 131px;
    }
    
}

   


